.tag {
  border: 3px dashed black;
  bottom: black;
  height: 80px;
  width: 80px;
  border-radius: 3px;
  z-index: 1;
  position: absolute;
}

.label {
  font-family: helvetica;
  background-color: black;
  color: white;
  padding: 3px;
  height: 20px;
  position: absolute;
}

.hide {
  display: none;
}


